*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.container img{
    transform-origin: center;
    transform: perspective(800px) rotate(20deg);
    transition: 0.5s;
}
.container img:hover{
    transform: perspective(800px) rotateX(20deg);
}