nav{
    width: 1350px;
    height: 70px;
    background: rgb(33, 29, 231);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
img{
    width: 1350px;
}
p{
    padding: 2px;
}